<% provide :title, 'マイページ' %>

<div class="row justify-content-md-center p-5">
  <div class="col-xl-10 coffset-xl-1">

    <!-- 検索フォーム -->
    <%= form_with url: words_path, method: :get, local: true do |f| %>
      <div class="container mb-3">
        <div class="row">
          <div class="col">
            <%= f.text_field :search, class: 'form-control', placeholder: 'search...' %>
          </div>
          <div class="col-auto">
            <%= f.submit 'Search', class: 'btn btn-warning', name: nil %>
          </div>
          <div class="col-auto">
            <%= link_to 'Clear', words_path, class: 'btn btn-outline-warning' %>
          </div>
        </div>
      </div>
    <% end %>
    
    <!-- 登録語表示エリア -->
    <div class="container mt-5">
      <div class="row">
        <!-- 登録内容繰り返し表示 -->
        <% @words.each do |word| %>
          <div class="p-2 col-lg-4">
            <div class="word_box">
              <%= link_to word_path(word) do %>
                <%= word.word %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- ページネーション -->
    <div class="row justify-content-center mt-4">
      <%= paginate @words %>
    </div>
  </div>
</div>
