<nav class="navbar navbar-expand-md navbar-light navbar-custom">
  <!-- アプリロゴ -->
  <%= link_to 'Chobi Memo', '/', id: 'logo', class: 'navbar-brand' %>
  <!-- レスポンシブメニューボタン：md -->
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- 右寄せメニュー -->
  <div class="collapse navbar-collapse d-md-flex flex-row-reverse" id="navbarNav">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <div class="nav-item">
          <%= link_to new_word_path, class: 'nav-link' do %>
            <%= fa_icon 'pencil 2x' %>
          <% end%>
        </div>
        <div class="dropdown">
          <!-- 切替ボタンの設定 -->
          <div class="nav-link" id="dropdownMenuButton button_group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon 'cog 2x' %>
          </div>
          <!-- ドロップメニューの設定 -->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to 'マイページ', words_path, class: 'nav-link dropdown-item' %>
            <%= link_to 'アカウント設定', edit_user_registration_path, class: 'nav-link dropdown-item' %>
          <div class="dropdown-divider"></div>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link dropdown-item' %>
          </div><!-- /.dropdown-menu -->
        </div><!-- /.dropdown -->
      <% else %>
        <div class="nav-item">
          <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
        </div>
        <div class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
